@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Varela+Round&display=swap');

.container{
    background-color: #ede5dd;
    font-family:  'Poppins', sans-serif; 
    width: 100%;
    height: 110vh;
    box-sizing: border-box yellow;


}

.about-us {
text-align:center;
word-spacing: normal;
font-weight: 400;

}

img{
    width: 100%;
    height: 300px;

}
  .p{
   text-indent: 0ch;
   text-size-adjust: 23px;
   text-align: justify;

  }

  .hr{
background-color: 14px solid blue;



  }
