*{
    box-sizing: border-box;
}

html {
    /* position: relative; */
    /* height:auto; */
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* position: relative; */
    font-family: "Montserrat", sans-serif;   
    background-image: url(assets/images/main-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    
}


    /*Nav bar starts here */
.navbar-section {
    margin: 0;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 0.5px solid #ccc;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    /* margin: 2rem 0 1.5rem 1.5rem; */
    padding: 20px 0 10px 0;
    /* position: fixed;
    top: 0; */
    /* left: 0; */
    width: 100%;
    background-color: #FFFFFF;
   }

.navbar-button {
    background-color: #525FE1;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;  color: #FFFFFF;
   }

a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #F86F03;
    font-weight: bold;
   }
.menu a {
    margin-left: 30px;
   }
.log-in a {
    margin-right: 20px;
   }

    /*Nav bar ends here */


   /*main starts here */

main {
    width: 100%;
    position: relative;
    top: 1rem;
    /* display: flex; */
}

div.container {
    width: 75%;
    height: 100%;
    margin: 10% auto 10% auto;
    background-color: #f2f2f2;
    border-radius: 40px;  
    /* border: 1px solid red;     */
}

.container-top {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 40px;
    padding: 5%;
    margin: 0;
}

.container-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 2%;
}

.container-half {
    width:50%;
}

@media only screen and (max-width:576px) {

    div.container {
        margin: 20% auto;
        border-radius: 30px;
    }

    .container-bottom {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 10%;
    }

    .container-half {
        width:100%;
    }
}

.container-half form {
    width: 95%;
    margin: 0;
}

.container-half .formRow {
    width: 90%;
    height: 3.5rem;
    margin: 3%;
}

.container-half .message {
    height: 6rem;
}

.container-half .formRow input {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container-half .message textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container-half .formRow button {
    width: 100%;
    height: 100%;
    margin:0;
    background-color: black;
    color: white;
    font-family: inherit;
    border-radius: 35px;
    border: 1px solid #ccc;
}

.container-half .formRow button:hover {
    color:#F86F03;
}

.contactMethod {
    display: flex;
    gap: 1rem;
    
}

.contactMethod .image {
    width: 10%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  
}

.contactMethod .phoneIcon {background-image: url(assets/images/telephone.jpg);}
.contactMethod .emailIcon {background-image: url(assets/images/email.jpg);}
.contactMethod .locationIcon {background-image: url(assets/images/location.jpg);}

.contactMethod p {
    margin: 0;
    width: 90%;
    height: 100%;
}

.contactMethod p span.mainText {
    font-size: 125%;
    margin: 0;
}

#acknowledgement {
    color: #F86F03;
    width: 100%;
    padding: 5%;
    text-align: center;
    /* border: 1px solid #ccc; */
    display: none; /* this message is hidden until submitting the form*/
}

/*main ends here */


/*footer starts here */
footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid #ccc;
} 
.logo-footer{
    position: absolute;
    left: calc(50% - 400px);
}
.social-media-icons{
    text-align: center;
}
.fa-brands {
    font-size: 2rem;
    padding: 1rem;
}
.fa-brands:hover{
    cursor: pointer;
}
footer .center{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copyrights{
    padding: 1rem;
}